html {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
}

.searchBar {
  display: block;
  margin: 20px;
  margin-bottom: 80px;
  text-align: center;
  height: 20px;
  padding-bottom: 30px;
}
.search {
  width: 300px;
  height: 30px;
  margin: 15px;
  border: none;
}
.search:hover {
  border: 2px solid black;
}

.btn {
  width: 90px;
  height: 30px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border: none;
  box-shadow: 0.5px 1px #cfc7f8;
  cursor: pointer;
}
.showItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  max-width: fit-content;
}
